
body {
    background: #ccc9c9;
    font-family: Tahoma, Verdana, sans-serif;
}

h1{
    color: slategray;
}

h2{
    color:teal;
}

.blog-img{
    width: 100%;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}
  
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}